@{
    ViewBag.Title = "Home Page";
}
   <div class="container">
       <div class="jumbotron">
           <div>
               <img src="~/images/chill-countryside-green-4709-825x550.jpg" />
           </div>
           <p class="lead">The Leader in imaginary California Homes.</p>

           <div class="online deffered">
               <a class="btn btn-lg" href="/homes">View Our Homes</a>
               <a class="btn btn-lg" href="/homes/new">Add a new Home</a>
           </div>

           <div class="offline deffered">
               <a class="btn btn-lg" href="/homes/offline">Add a new Home</a>
           </div>
       </div>
    </div>
